    <button class="hamburger-menu" aria-label="Menú">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <ul class="nav-menu">
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#nosotros">Sobre Nosotros</a></li>
        <li class="has-submenu">
            <a href="#">Servicios</a>
            <ul class="submenu">
                <li><a href="pages/inv_mercado.html">Investigación de mercado</a></li>
                <li><a href="pages/analisis_datos.html">Análisis de datos</a></li>
                <li><a href="pages/consultoria_estrategica.html">Consultoría Estratégica</a></li>
                <li><a href="pages/transformacion_digital.html">Análisis de datos</a></li>
                <li><a href="pages/blockchain_transparencia.html">BlockChain para transparencia</a></li>
                <li><a href="pages/bigdata_cloud.html">BigData & Cloud Solutions</a></li>
            </ul>
        </li>
        <li class="has-submenu">
            <a href="pages/Trabajos.html">Trabajos</a>
            <ul class="submenu">
                <li><a href="pages/analisis_predictivo.html">Análisis Predictivo</a></li>
                <li><a href="pages/consultoria_empresarial.html">Consultoría Empresarial</a></li>
                <li><a href="pages/investigacion_mercado.html">Investigación de Mercado</a></li>
                <li><a href="pages/estrategia_digital.html">Estrategia Digital</a></li>
                <li><a href="pages/analisis_competitivo.html">Análisis Competitivos</a></li>
                <li><a href="pages/proyectos_finiancieros.html">Proyecciones Financieras</a></li>
                
            </ul>
        </li>
        <li><a href="pages/contacto.html">Contacto</a></li>
    </ul>
