    <ul class="nav-menu">
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#nosotros">Sobre Nosotros</a></li>
        <li class="has-submenu">
            <a href="#">Servicios</a>
            <ul class="submenu">
                <li><a href="pages/inv_mercado.html">Estudio de mercado</a></li>
                <li><a href="pages/analisis_datos.html">Análisis de datos</a></li>
                <li><a href="pages/consultoria_estrategica.html">Consultoría estratégica</a></li>
            </ul>
        </li>
        <li><a href="pages/contacto.html">Contacto</a></li>
    </ul>
